<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innlogging</title>
</head>
<body>
    <h2>Logg Inn</h2>
    <form method="POST" action="{{ url_for('login') }}">
        <label for="brukernavn">Brukernavn:</label><br>
        <input type="text" id="brukernavn" name="brukernavn" required><br><br>
        
        <label for="passord">Passord:</label><br>
        <input type="password" id="passord" name="passord" required><br><br>

        <button type="submit">Logg Inn</button>
        
    </form>
    <label for="regi">registrer hvis du ikke har bruker</label> <br>
    <a href="{{url_for('register')}}" name="regi"><button>registrer</button></a>
    {% if feil_melding %}
        <p style="color: red;">{{ feil_melding }}</p>
    {% endif %}
</body>
</html>
